body {
    background-color: rgb(255, 237, 75);
    text-align: center;
    font-family: "Manjari";
}

h1 {
    color: rgb(235, 170, 49);
    font-size: 100px;
    font-family: "Fredoka One";
    margin-bottom: 200px;
}

p {  
    margin: 20px 0px;
    color: rgb(228, 152, 10);
    font-size: 20px;
}

button {
    margin: 20px 15px;
    background-color: rgb(235, 170, 49);
    border: 3px solid white;
    padding: 7px 25px;
    color: white;
    vertical-align: center;
    font-size: 20px;
}

button:hover {
    background-color: white;
    color: rgb(235, 170, 49);
    border-color: rgb(235, 170, 49);
}

.score {
    position: absolute;
    top: 800px;
    left: 50%;
    transform: translateX(-50%);
}

.finalResult p {
    font-size: 30px;
}

.pressed.pressed.pressed {
    background-color: white;
}

.selector button {
    padding: 95px;
    border-radius: 100%;
    border: 5px solid white;
    background: rgba(235, 170, 49) no-repeat center;
    margin: 10px 50px;
}

.selector button:hover {
    background-color: rgba(255,255,255,0.3);
}

#rock {
    background-image: url(http://www.emojimeanings.org/images/emojis/109.png);
}

#paper {
    background-image: url(http://www.emojimeanings.org/images/emojis/112.png);
}

#scissors {
    background-image: url(http://www.emojimeanings.org/images/emojis/110.png);
}

   